
body{
    /* тут внести шрифт */
    padding: 0px;
    margin: 0px;
}

.menu-wrapper{
    /* background-color: #EEEEEE;
    width: 1440px;
    height: 545px;
    left: 0px;    
    top: 0px; */
}

.header{ 
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding-top: 49px;
}

.link-nerds{
    display: flex;
}

.img-nerds{
    margin-right: auto; 
    
}

.nav-menu{
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.nav-item{
    list-style: none;            /*убирает маркер списка */
    margin-right: 50px;
}


.nav-item:last-child{
    margin-right: 0;
}


.nav-link{
    text-decoration: none;       /* убирает нижнее подчеркивание*/
}

.link-cart{
    display: flex;
    align-items: flex-start;
    align-items: center; 
}

.img-cart{
    margin-right: 10px;
}

.name-cart{
    margin-right: 141px;
}

/* _________SLIDER________________ */

.slider-info{
    background-color: #EEEEEE;
}



/* .slider-design{
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider-math{
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider-hardcore{
    display: flex;
    justify-content: center;
    align-items: center;

}
/* .slider-block{        
    display: flex;                               
    justify-content: center;
    align-items: center;
} */ */


.slider-button{
    color: #FFFFFF;
    background-color: #FB565A;
    border-radius: 3px;       /* закругление */
    text-decoration: none;    /* убираем подчеркивание ссылки */
    text-transform: uppercase;
    width: 240px;
    height: 50px;
    display: block;    
    text-align: center;
    line-height: 50px;       /*высота строки */
}



.slider-block{        /*по дефолту у нас все слайды display:none. Но если у нас чекнута*/
    display: none;     /*какая-то радио-кнопка - то div который стоит за этой кнопкой - он становится display: flex или block; */
}


.slider-check:checked +.slider-block{     /*т.е. если у нас радио-кнопка чекнута - тогда следующий элемент (класс), который будет иметь указанные стили */
    /* display: block; */
    display: flex;                                  
    justify-content: center;
    align-items: center;
}



/* .slider-check{            скрываем кружочки
    position:absolute;
    clip:rect(0 0 0 0);
	overflow:hidden;
}

.slider-label{      рисуем новые кружочки
    overflow:hidden; 
    display:inline-block; 
    width: 18px;
    height: 18px;
    background:#7bf708;
    border-radius: 50%;
    margin-right: 9px;
} */










/* ___________FOOTER_______________________ */

.conteiner{     
    display: flex;  
    justify-content: space-around;
}

.social{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.item{
    list-style: none;
    margin-right: 9px;
}

.item:last-child{
    margin-right: 0px;
}

.link {
    width: 81px; 
    height: 81px;
    background: #E1E1E1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;

}

.social-text{
    margin-right: 240px;
}

.socal-info{
    /* margin-bottom: 10px;  */
}