
body{
    /* тут внести шрифт */
}

.menu-wrapper{
    background-color: #EEEEEE;
    width: 1440px;
    height: 545px;
    left: 0px;    /* по идее, этим мы прибиваем серый прямоугольник вверх и слева. Но почему не так? */
    top: 0px;
}

.header{  
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding-top: 49px;
}

.link-nerds{
    display: flex;
}

.img-nerds{
    margin-right: auto; 
    
}

.nav-menu{
    display: flex;
    align-items: center;
}

.nav-item{
    list-style: none;            /*убирает маркер списка */
    margin-right: 50px;
}

/* .nav-item:first-child{
    margin-left: 0;
} */

.nav-item:last-child{
    margin-right: 0;
}

.nav-link{
    text-decoration: none;       /* убирает нижнее подчеркивание*/
}

.link-cart{
    display: flex;
    align-items: flex-start;
    align-items: center; 
}

.img-cart{
    margin-right: 10px;
}

.name-cart{
    margin-right: 141px;
}





.conteiner{     
    display: flex;
    justify-content: space-around;
}

.social{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.item{
    list-style: none;
    margin-right: 9px;
}

.item:last-child{
    margin-right: 0px;
}

.circle {
    width: 81px; 
    height: 81px;
    background: #E1E1E1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;

}

.social-text{
    margin-right: 240px;
}

.socal-info{
    /* margin-bottom: 10px;  */
}