
body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}



.header{ 
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    padding-top: 49px;
}

.link-nerds{
    display: flex;
}

.img-nerds{
    margin-right: auto; 
    
}

.nav-menu{
    display: flex;
    align-items: center;
    padding-left: 0px;
}

.nav-item{
    list-style: none;            /*убирает маркер списка */
    margin-right: 50px;
}


.nav-item:last-child{
    margin-right: 0;
}


.nav-link{
    text-decoration: none;       /* убирает нижнее подчеркивание*/
}

.link-cart{
    display: flex;
    align-items: flex-start;
    align-items: center; 
}

.img-cart{
    margin-right: 10px;
}

.name-cart{
    margin-right: 141px;
}

/* _________SLIDER________________ */


.slider-info{
    background-color: #EEEEEE;
    position: relative;
    width: 1280px;
    padding-top: 435px;
    text-align:center;
}
  
.slider-block{
    position:absolute;
    top: 0px;
    left:0px; 
}
  
.slider-block{
    display: none;
}
  
.slider-check:checked +.slider-block{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-left: 70px;
}
  
.slider-button{
    color: #FFFFFF;
    background-color: #FB565A;
    border-radius: 3px;       /* закругление */
    text-decoration: none;    /* убираем подчеркивание ссылки */
    text-transform: uppercase;
    width: 240px;
    height: 50px;
    display: block;    
    text-align: center;
    line-height: 50px; 
}


/* ____________PRESINTATION________________ */


.presentation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 80px;
}


.presentation-button{
    color: #FFFFFF;
    width: 160px;
    height: 50px;
    border-radius: 3px;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
}

.red{
    background-color: #FB565A;
}

.green{
    background-color: #00CA74;
}

.yellow{
    background-color: #EFC849;
}

.line-presentation{
    border: none; /* Убираем границу */
    background-color: #EEEEEE; /* Цвет линии */
    height: 2px; /* Толщина линии */
    width: 1158px;
    margin-top: 85px;  
    margin-bottom: 39px;
}

/* ______________INFO_______________________ */

.table-info{
    list-style: none;  
    line-height: 45px; 
}

.table-info li{
    position: relative;
}

.table-info li:before{
    content: '';
    width: 25px;
    height: 2px;
    background-color: #FB565A;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -40px;            /*т.е.мы выходим из контейнера table-info на -40px*/
}

.img-table{
    padding-bottom: 20px;
}
.about-table caption{
    margin-bottom: 20px;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-table{
    width: 100%;

}

caption{
    text-transform: uppercase;
}

.about-table thead{
    font-size: 35px;
    text-align: left;
}

.line-information{
    border: none; /* Убираем границу */
    background-color: #EEEEEE; /* Цвет линии */
    height: 2px; /* Толщина линии */
    width: 1158px;
    margin-top: 85px;  
    margin-bottom: 39px;
}


/* _____________PARTNERS___________________ */

.partners-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-bottom: 40px;
}Ъ


.partners-list li{
    position: relative;
    height: 100px ;
}

.partners-img {
    opacity: 0.20;
}

.partners-img:hover {
   opacity: 1;
}

.partners-img:active{
    opacity: 0.10;
}

.partners-list li:not(:last-child):after{   /* задаем after всем, кроме последнего эл-та*/
    content:'';
    width: 2px;
    height: 52px;
    background-color: #EEEEEE;
    /* display: inline-block; */
    position: absolute;
    right: -25%;
}


.line-partners{
    border: none; /* Убираем границу */
    background-color: #EEEEEE; /* Цвет линии */
    height: 2px; /* Толщина линии */
    width: 1158px;
    margin-top: -30px;
    margin-bottom: 50px;
}

/* ___________MAP_______________________ */

.map{
    position: relative;
    margin-bottom: 30px;
}

.map-img {
    width: 100%;
}

.address {
    width: 319px;
    height: 308px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 30px;
    left: 90px;

}

.map-button {
    display: block;
    width: 219px;
    height: 50px;
    background-color: #FB565A;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.map-logo {
    position: absolute;
    top: 35px;
    left: 720px;
}






/* ___________FOOTER_______________________ */

.conteiner{     
    display: flex;  
    justify-content: space-around;
}

.social{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.item{
    list-style: none;
    margin-right: 9px;
}

.item:last-child{
    margin-right: 0px;  

}

.link {
    width: 81px; 
    height: 81px;
    background: #E1E1E1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;

}

.social-text{
    margin-right: 240px;
}

.socal-info{
    /* margin-bottom: 10px;  */
}


